@model List<ResultPopularLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<style>
    .card {
        transition: transform 0.2s ease-in-out;
        background-color: #e9ebed;
    }

        .card:hover {
            transform: scale(1.1); 
        }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div>
            <h3 class="text-center justify-content-center">Popüler Lokasyonlar</h3>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@item.ImageUrl" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@item.CityName</h5>
                        <a href="/PopularLocation/DeletePopularLocation/@item.LocationID" class="btn btn-outline-danger">Sil</a>
                        <a href="/PopularLocation/UpdatePopularLocation/@item.LocationID" class="btn btn-outline-warning">Güncelle</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center justify-content-center ">
        <div class="col-md-4">
            <a href="/PopularLocation/CreatePopularLocation/" class="btn btn-outline-info">Yeni Lokasyon Girişi</a>
        </div>
    </div>
</div>
